body {
  font-family: Georgia, Times, Times New Roman, serif;
}

a:link, a:visited {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: #ccefff;
  color: black;
  padding: 5px 15px;
  border: 1px solid black;
  }
  
  a:hover {
    text-decoration: none;
    display: inline-block;
     text-align: center;
    background-color: #99dfff;
    color: black;
    padding: 5px 15px;
    border: 1px solid black;
  }


div {
  overflow: auto;
}


ul {
  list-style-type: none;
}

button:link, button:visited, button {
 type="button" 
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: #ccefff;
  color: black;
  padding: 5px 15px;
  border: 1px solid black;
    font-family: Georgia, Times, Times New Roman, serif;
}

button:hover {
  type="button"
  text-decoration: none;
    display: inline-block;
     text-align: center;
    background-color: #99dfff;
    color: black;
    padding: 5px 15px;
    border: 1px solid black;
  font-family: Georgia, Times, Times New Roman, serif;
}
