body {
  font-family: Georgia, Times, Times New Roman, serif;
  margin-top: 80%;
}

a:link, a:visited {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: #ccefff;
  color: black;
  padding: 5px 15px;
  border: 1px solid black;
  }
  
  a:hover {
    text-decoration: none;
    display: inline-block;
     text-align: center;
    background-color: #99dfff;
    color: black;
    padding: 5px 15px;
    border: 1px solid black;
  }


div {
  overflow: auto;
}


ul {
  list-style-type: none;
}
